.boxstyle {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background: transparent;
    color: red;
}

.showDiv {
    display: block;
}

.hideDiv {
    display: none;
}

.marginStyle {
    margin-top: 20px;
}

.inputStyle {
    margin-top: 10px;
    margin-bottom: 10px;
}