.inputStyle {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: solid #2A878C;
    background-color: transparent;
    color: white;
    font-size: 20px;
}

.inputStyle::placeholder {
    color:  antiquewhite;
}

.marginStyle {
    marginTop: 20px;
}

.btnStyle {
    margin-left: 130px;
    background-color: #ff7070;
    margin-bottom: 30px;
}

.containerLoginStyle {
    background: #323232;
    color: white;
    height: 400px
}

.loginHeader {
    background-color: #ff7070;
    height: 70px;
    font-family: fantasy;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    padding-top: 10px;
}

.goBacklogin {
    background-color:  #323232;
    font-family: Chalkboard;
    font-size: 25px;
    color: whitesmoke;
    margin-left: 100px ;
}
